/* nav */
.nav {
  display: flex;
  gap: 16px;
  padding: 12px;
  background: #4caf50;
}
.nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* layout */
.container {
  max-width: 500px;
  margin: 40px auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.title {
  color: #2e2e2e;
  font-size: 24px;
}

/* todo input */
.inputContainer {
  display: flex;
  gap: 12px;
  margin-bottom: 25px;
}
.input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #351818;
}
.button {
  padding: 10px 15px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.button:hover {
  background: #0056b3;
}

/* list */
.list {
  list-style: none;
  padding: 0;
}
.listItem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 6px 0;
  background: #06464e;
  border-radius: 6px;
}
.deleteBtn {
  background: #ff5722;
  color: #333333;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.deleteBtn:hover {
  background: #ffffff;
}
